<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ahmedmatem.android.snagging">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:theme="@style/AppTheme">
        <activity
            android:name=".DrawingsListActivity"
            android:label="@string/title_activity_drawings_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>